In [2]:
## importing packages
import lightgbm as lgb
import numpy as np
import pandas as pd
from datetime import datetime
from sklearn.preprocessing import LabelEncoder
pd.set_option('display.max_columns', None)
pd.set_option('display.max_seq_items', None)
import datetime
%matplotlib inline
import re

In [8]:
from datetime import date 
Today = date.today().strftime('%m_%d_%Y')

import requests 
Fresh data = ('https://raw.githubusercontent.com/imdevskp/covid_19_jhu_data_web_scrap_and_cleaning/master/covid_19_clean_complete.csv'/{}.json.gz.format(today)
Request.get(fresh_data )
Today

'06_11_2020'

In [4]:
full_table = pd.read_csv('https://raw.githubusercontent.com/imdevskp/covid_19_jhu_data_web_scrap_and_cleaning/master/covid_19_clean_complete.csv', 
                       parse_dates=['Date'])

full_table = full_table[['Date', 'Country/Region','Lat','Long','Confirmed', 'Deaths', 'Recovered']]

full_table = full_table.rename(columns={'Country/Region': 'Country'})
full_table

,Date,Country,Lat,Long,Confirmed,Deaths,Recovered
0,2020-01-22,Afghanistan,33.000000,65.000000,0,0.0,0
1,2020-01-22,Albania,41.153300,20.168300,0,0.0,0
2,2020-01-22,Algeria,28.033900,1.659600,0,0.0,0
3,2020-01-22,Andorra,42.506300,1.521800,0,0.0,0
4,2020-01-22,Angola,-11.202700,17.873900,0,0.0,0
...,...,...,...,...,...,...,...
36796,2020-06-10,Sao Tome and Principe,0.186360,6.613081,611,12.0,135
36797,2020-06-10,Yemen,15.552727,48.516388,560,0.0,0
36798,2020-06-10,Comoros,-11.645500,43.333300,162,2.0,97
36799,2020-06-10,Tajikistan,38.861034,71.276093,4763,0.0,0
36800,2020-06-10,Lesotho,-29.609988,28.233608,4,0.0,2

In [24]:
# full_table.Country.unique()

In [42]:
pays_europe =['Italy' , 'Portugal' , 'Spain' , 'France' , 'Netherlands' , 'Germany' , 'Poland' , 'Ireland', 'Ukraine', 'Romania' , 'Switzerland' , 'Albania' ,  'Austria,Belarus', 'Belgium' ,'Bosnia and Herzegovina', 'Bulgaria','Croatia','Denmark' ,'Estonia', 'Finland','Greece','Hungary', 'Iceland', 'Latvia' ,'Lithuania','Malta' ,'Moldova' , 'Montenegro','Norway', 'North Macedonia', 'Russia', 'Serbia', 'Slovakia' ,'Slovenia' , 'Sweden','Turkey'  ,'Ukraine' , 'United Kingdom']

In [43]:
europe = full_table[full_table.Country.isin(pays_europe)]
europe.head()

,Date,Country,Lat,Long,Confirmed,Deaths,Recovered
1,2020-01-22,Albania,41.1533,20.1683,0,0,0
23,2020-01-22,Belgium,50.8333,4.0000,0,0,0
27,2020-01-22,Bosnia and Herzegovina,43.9159,17.6791,0,0,0
30,2020-01-22,Bulgaria,42.7339,25.4858,0,0,0
87,2020-01-22,Croatia,45.1000,15.2000,0,0,0

In [44]:
# europe1 = europe.set_index('Country')
# europe1

In [45]:
cc= pd.read_csv("contry.csv")
cc.columns
ccn = cc.drop(columns=['Unnamed: 0', 'SurfaceArea',
       'IndepYear' , 'GNP', 'GNPOld',
       'LocalName', 'GovernmentForm', 'HeadOfState', 'Capital', 'Code2'])

cn_europe = ccn[ccn.Name.isin(pays_europe)]


cn_europe= cn_europe.rename(columns={"Name": "Country"})
cn_europe.head()

,Code,Country,Continent,Region,Population,LifeExpectancy
4,ALB,Albania,Europe,Southern Europe,3401200,71.6
18,BEL,Belgium,Europe,Western Europe,10239000,77.8
22,BGR,Bulgaria,Europe,Eastern Europe,8190900,70.9
25,BIH,Bosnia and Herzegovina,Europe,Southern Europe,3972000,71.5
39,CHE,Switzerland,Europe,Western Europe,7160400,79.6

In [46]:
df_europe =  pd.merge(europe,cn_europe, on='Country')
df_europe.to_csv("donnees_world_covid.csv")

In [47]:
covis= pd.read_csv("covid_data.csv")
covis
eu = covis[covis.Country.isin(pays_europe)]
df_eue =  pd.merge(cn_europe,eu, on='Country')
df_eue

,Code,Country,Continent,Region,Population,LifeExpectancy,Unnamed: 0,Date,Cases,Deaths,Recovered
0,ALB,Albania,Europe,Southern Europe,3401200,71.6,1,2020-01-22,0,0,0
1,ALB,Albania,Europe,Southern Europe,3401200,71.6,189,2020-01-23,0,0,0
2,ALB,Albania,Europe,Southern Europe,3401200,71.6,377,2020-01-24,0,0,0
3,ALB,Albania,Europe,Southern Europe,3401200,71.6,565,2020-01-25,0,0,0
4,ALB,Albania,Europe,Southern Europe,3401200,71.6,753,2020-01-26,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
4251,UKR,Ukraine,Europe,Eastern Europe,50456000,66.0,24240,2020-05-29,22811,679,8934
4252,UKR,Ukraine,Europe,Eastern Europe,50456000,66.0,24428,2020-05-30,23204,696,9311
4253,UKR,Ukraine,Europe,Eastern Europe,50456000,66.0,24616,2020-05-31,23672,708,9538
4254,UKR,Ukraine,Europe,Eastern Europe,50456000,66.0,24804,2020-06-01,24562,724,10053
4255,UKR,Ukraine,Europe,Eastern Europe,50456000,66.0,24992,2020-06-02,24895,733,10461

# DATAFRAME

In [48]:
## defining constants
PATH_TRAIN = "train.csv"
PATH_TEST = "test.csv"
PATH_GOOGLE_MOBILITY = "Google_Mobility_Data.csv"
PATH_GOOGLE_MOBILITY_appel = "applemobilitytrends-2020-05-05.csv"
PATH_data = "applemobilitytrends-2020-05-05.csv"

PATH_SUBMISSION = "submission.csv"

In [49]:
## reading data
df_train = pd.read_csv(PATH_TRAIN)
df_test = pd.read_csv(PATH_TEST)
df_appel = pd.read_csv(PATH_GOOGLE_MOBILITY_appel,error_bad_lines=False)
df_google = pd.read_csv(PATH_GOOGLE_MOBILITY, low_memory = False)

# GOOGLE

In [50]:

df_google['date'] = pd.to_datetime(df_google['date'])
df_google = df_google.drop(columns=['country_region_code', 'sub_region_2',"sub_region_1"])

In [51]:

df_google["Google_Loisirs"] = df_google.retail_and_recreation_percent_change_from_baseline
df_google["Google_Epicerie"] = df_google.grocery_and_pharmacy_percent_change_from_baseline
df_google["Google_Parks"] = df_google.parks_percent_change_from_baseline
df_google["Google_Transit"] = df_google.transit_stations_percent_change_from_baseline
df_google["Google_Workplaces"] = df_google.workplaces_percent_change_from_baseline
df_google["Google_Residential"] = df_google.residential_percent_change_from_baseline

In [35]:
df_google.head()

,country_region,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Google_Loisirs,Google_Epicerie,Google_Parks,Google_Transit,Google_Workplaces,Google_Residential
0,United Arab Emirates,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0,0.0,4.0,5.0,0.0,2.0,1.0
1,United Arab Emirates,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0,1.0,4.0,4.0,1.0,2.0,1.0
2,United Arab Emirates,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0,-1.0,1.0,5.0,1.0,2.0,1.0
3,United Arab Emirates,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0,-2.0,1.0,5.0,0.0,2.0,1.0
4,United Arab Emirates,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0,-2.0,0.0,4.0,-1.0,2.0,1.0

In [52]:
df_google = df_google[[
    "country_region",
    "date",
    "Google_Loisirs",
    "Google_Epicerie",
    "Google_Parks",
    "Google_Transit",
    "Google_Workplaces",
    "Google_Residential"
]]

In [53]:
df_google_europe = df_google[df_google.country_region.isin(pays_europe)]

df_google_europe=df_google_europe.rename(columns={"country_region": "Country"})

df_google_europe

,Country,date,Google_Loisirs,Google_Epicerie,Google_Parks,Google_Transit,Google_Workplaces,Google_Residential
4256,Bosnia and Herzegovina,2020-02-15,8.0,6.0,16.0,3.0,1.0,-1.0
4257,Bosnia and Herzegovina,2020-02-16,7.0,10.0,28.0,8.0,-1.0,-1.0
4258,Bosnia and Herzegovina,2020-02-17,3.0,2.0,11.0,10.0,12.0,-1.0
4259,Bosnia and Herzegovina,2020-02-18,4.0,7.0,0.0,7.0,11.0,-1.0
4260,Bosnia and Herzegovina,2020-02-19,3.0,2.0,9.0,5.0,9.0,-1.0
...,...,...,...,...,...,...,...,...
92211,Turkey,2020-04-26,-91.0,-82.0,-75.0,-88.0,-63.0,23.0
92212,Turkey,2020-04-27,-47.0,15.0,-21.0,-49.0,-43.0,17.0
92213,Turkey,2020-04-28,-54.0,-1.0,-29.0,-53.0,-45.0,17.0
92214,Turkey,2020-04-29,-56.0,-2.0,-30.0,-53.0,-43.0,19.0
92215,Turkey,2020-04-30,-49.0,18.0,-20.0,-49.0,-42.0,16.0

In [54]:
list_country

NameError: name 'list_country' is not defined

In [56]:
merge_df_gogogle =  pd.merge(df_google_europe,list_country, on='Country')

merge_df_gogogle.isnull().sum()

NameError: name 'list_country' is not defined

In [55]:
#remplacer les NAN par 0 
merge_df_gogogle = merge_df_gogogle.replace(np.nan, 0)
merge_df_gogogle

NameError: name 'merge_df_gogogle' is not defined

In [ ]:
merge_df_gogogle

In [ ]:
merge_df_gogogle.to_csv("google_stat_europe.csv")

In [68]:
list_country = cn_europe[['Country','Code']]
cn_europe.to_csv("conutry_europe.csv")

# APPEL

In [58]:
PATH_GOOGLE_MOBILITY_appel = "applemobilitytrends-2020-05-05.csv"
df_appel = pd.read_csv(PATH_GOOGLE_MOBILITY_appel,error_bad_lines=False)
# df_appel=df_appel[df_appel['geo_type'] == "country/region"]
df_appel

,geo_type,region,transportation_type,alternative_name,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,2020-01-21,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,2020-02-01,2020-02-02,2020-02-03,2020-02-04,2020-02-05,2020-02-06,2020-02-07,2020-02-08,2020-02-09,2020-02-10,2020-02-11,2020-02-12,2020-02-13,2020-02-14,2020-02-15,2020-02-16,2020-02-17,2020-02-18,2020-02-19,2020-02-20,2020-02-21,2020-02-22,2020-02-23,2020-02-24,2020-02-25,2020-02-26,2020-02-27,2020-02-28,2020-02-29,2020-03-01,2020-03-02,2020-03-03,2020-03-04,2020-03-05,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,2020-03-11,2020-03-12,2020-03-13,2020-03-14,2020-03-15,2020-03-16,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-23,2020-03-24,2020-03-25,2020-03-26,2020-03-27,2020-03-28,2020-03-29,2020-03-30,2020-03-31,2020-04-01,2020-04-02,2020-04-03,2020-04-04,2020-04-05,2020-04-06,2020-04-07,2020-04-08,2020-04-09,2020-04-10,2020-04-11,2020-04-12,2020-04-13,2020-04-14,2020-04-15,2020-04-16,2020-04-17,2020-04-18,2020-04-19,2020-04-20,2020-04-21,2020-04-22,2020-04-23,2020-04-24,2020-04-25,2020-04-26,2020-04-27,2020-04-28,2020-04-29,2020-04-30,2020-05-01,2020-05-02,2020-05-03,2020-05-04,2020-05-05
0,country/region,Albania,driving,NaN,100.0,95.30,101.43,97.20,103.55,112.67,104.83,94.39,94.07,93.51,92.94,102.13,102.38,101.41,94.62,89.12,90.17,90.21,97.71,102.50,108.92,92.82,91.48,93.99,96.72,102.46,103.29,107.83,87.99,94.18,94.62,99.70,139.30,123.90,129.41,102.24,88.09,88.17,94.48,100.62,111.02,113.50,86.95,83.01,85.44,82.73,89.70,95.48,100.43,89.25,91.02,89.72,94.87,102.82,109.92,110.07,79.68,68.24,51.77,43.79,24.99,24.61,30.93,24.69,24.95,24.65,24.50,26.31,20.39,19.29,22.62,21.61,21.98,23.07,23.94,19.49,21.78,23.66,25.11,25.02,25.20,24.11,20.54,22.54,26.40,26.03,26.43,26.70,26.32,25.47,24.89,32.64,31.43,30.67,30.00,29.26,22.94,24.55,31.51,33.59,31.69,33.94,30.22,25.22,30.39,37.39,36.69,35.90,38.09,37.23,29.36,36.00,43.69,42.61
1,country/region,Albania,walking,NaN,100.0,100.68,98.93,98.46,100.85,100.13,82.13,95.65,97.78,95.39,94.24,93.73,97.06,77.27,83.37,82.73,84.39,88.19,90.79,88.70,79.32,87.12,88.06,99.40,85.84,94.63,99.74,81.41,90.19,90.45,94.16,95.69,109.21,108.40,84.52,96.63,87.38,81.49,87.21,93.52,94.50,74.80,87.25,81.41,77.78,74.50,81.19,87.97,78.42,94.88,95.65,91.13,94.46,103.80,92.92,82.47,87.25,63.37,46.70,37.87,31.43,37.78,37.44,35.95,30.87,33.56,36.84,32.62,27.12,22.64,25.93,25.88,25.42,23.03,28.27,24.69,20.26,22.90,25.93,23.50,26.65,27.76,24.90,23.92,31.13,25.80,29.81,28.96,27.29,27.63,29.59,35.52,38.08,35.48,39.15,34.58,27.76,27.93,36.72,34.46,35.39,34.80,34.63,29.00,35.22,41.83,37.53,41.49,38.25,38.68,32.28,43.41,49.59,46.44
2,country/region,Argentina,driving,NaN,100.0,97.07,102.45,111.21,118.45,124.01,95.44,95.13,95.42,97.66,99.42,113.34,118.23,91.31,93.37,91.12,92.35,96.74,111.24,123.96,89.01,91.66,89.18,94.49,95.98,111.12,121.53,89.23,96.42,96.97,101.68,104.90,122.91,127.62,88.20,92.28,98.15,98.96,104.71,132.57,141.76,108.21,107.92,99.51,96.38,97.96,116.77,117.72,81.13,86.76,88.90,92.74,97.45,118.32,122.78,80.36,89.28,89.29,82.73,86.67,98.75,84.77,47.70,53.57,45.44,43.21,43.90,16.77,12.54,8.74,10.08,10.76,14.86,14.58,15.45,13.34,9.92,14.59,12.65,15.79,16.48,17.15,15.13,11.53,17.24,18.55,19.95,19.80,16.80,19.40,12.89,21.10,22.29,23.55,24.40,27.17,23.19,14.54,26.67,27.25,27.61,28.73,30.99,25.92,16.57,27.45,27.12,32.22,34.45,22.69,28.23,16.44,32.01,33.63
3,country/region,Argentina,walking,NaN,100.0,95.11,101.37,112.67,116.72,114.14,84.54,101.37,106.12,104.91,102.56,104.88,98.83,73.64,94.27,93.86,92.20,96.00,98.99,97.42,67.21,95.18,96.25,100.39,99.10,105.00,106.45,73.12,104.20,105.87,111.47,113.20,128.75,103.47,69.12,93.42,111.49,107.02,111.36,124.13,120.44,100.50,96.60,82.59,107.79,110.62,124.18,108.49,68.50,101.01,104.39,108.23,113.92,126.70,112.81,70.94,109.38,109.62,83.06,106.85,104.31,70.31,43.64,51.55,35.57,31.96,29.97,11.75,9.11,6.96,8.36,8.05,10.92,10.53,11.30,10.73,7.77,11.37,9.79,11.78,11.23,12.44,10.97,9.12,11.85,13.49,15.51,14.65,13.58,15.75,10.45,16.35,16.66,17.42,18.18,18.80,17.03,10.59,18.44,19.01,18.47,20.39,22.32,23.31,16.36,18.48,17.49,22.78,24.80,16.62,20.61,12.44,21.35,22.63
4,country/region,Australia,driving,NaN,100.0,102.98,104.21,108.63,109.08,89.00,99.35,103.53,106.80,107.40,115.65,109.66,88.59,85.18,95.91,99.40,99.92,103.04,103.73,85.73,93.39,95.83,98.63,102.40,107.46,106.55,86.33,98.78,100.08,103.28,106.19,116.62,115.36,93.51,98.27,101.79,105.38,107.29,113.37,118.25,97.60,97.50,102.70,104.46,106.23,113.60,117.64,98.24,97.35,99.14,101.63,106.02,113.97,113.49,93.23,91.21,96.44,99.94,100.79,102.79,98.75,78.16,81.59,80.52,78.87,79.24,83.55,78.17,60.74,66.41,62.49,60.19,57.96,59.90,48.25,36.69,51.18,51.92,52.04,51.54,54.23,41.58,33.34,51.75,53.17,55.01,59.24,33.19,36.00,26.95,31.72,53.14,55.91,56.56,58.77,47.51,36.90,53.34,56.93,58.06,59.69,62.87,47.84,41.89,55.39,59.09,59.46,59.46,63.12,58.40,48.67,58.18,62.51,64.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,sub-region,Île-de-France Region,driving,NaN,100.0,102.06,103.61,110.01,107.47,113.34,89.50,85.89,85.31,85.36,87.20,101.79,96.32,75.05,77.63,80.16,83.73,83.37,90.88,100.71,78.52,78.21,79.35,84.24,86.09,93.69,92.00,72.76,76.91,77.67,80.31,82.46,92.11,92.72,75.62,79.19,82.03,81.19,83.47,91.56,97.57,79.29,81.51,84.71,86.43,86.10,96.08,98.28,71.94,74.02,78.59,78.57,79.33,84.96,91.08,67.36,69.47,71.81,74.43,67.72,66.05,60.25,40.40,43.91,20.01,14.87,14.99,13.99,10.88,10.44,15.12,14.74,14.13,13.75,13.82,12.56,11.24,14.27,14.33,14.55,14.29,14.48,13.27,13.11,15.17,15.93,15.83,16.05,16.29,14.49,12.43,14.26,17.88,18.12,18.38,18.66,16.11,15.53,19.42,19.96,20.49,20.81,19.81,17.59,17.29,20.81,25.32,23.99,23.14,19.34,21.01,20.44,25.35,26.28
1154,sub-region,Örebro County,driving,Örebro län,100.0,101.70,105.33,108.03,115.57,123.96,127.89,109.62,103.41,115.19,109.92,126.21,133.71,125.90,102.88,103.82,111.68,110.36,124.27,129.33,131.95,106.41,109.37,113.58,112.41,133.47,137.20,131.11,111.81,116.36,117.78,122.43,137.70,155.37,142.45,106.61,109.26,120.85,128.09,136.17,140.12,143.57,116.33,115.64,121.45,129.54,140.94,141.54,131.65,118.64,113.88,116.93,114.82,144.81,141.69,131.81,107.77,104.25,105.94,99.10,101.76,106.21,102.22,84.54,83.20,86.36,92.94,95.76,98.08,102.32,81.67,87.28,95.53,94.44,103.66,105.82,99.40,86.53,93.44,92.25,90.78,103.05,97.91,98.20,102.08,103.24,110.61,118.19,106.68,84.91,89.44,107.56,100.52,103.70,101.28,114.92,109.73,109.08,103.07,107.73,112.93,107.07,120.65,116.40,114.68,103.28,107.91,109.64,127.04,115.35,122.53,119.28,110.43,111.31
1155,sub-region,Östergötland County,driving,NaN,100.0,96.87,98.81,103.48,109.64,113.50,114.85,104.57,103.44,103.81,100.91,116.92,120.93,115.37,106.51,105.25,103.45,104.74,118.34,131.25,121.02,103.94,104.91,104.99,105.86,122.12,128.46,119.83,104.85,108.68,111.48,110.92,129.54,136.50,116.10,105.11,106.53,110.42,114.71,123.49,123.31,119.25,105.65,108.23,110.92,110.72,122.52,119.89,121.52,107.94,108.85,111.83,111.64,123.30,122.58,120.29,109.99,102.94,101.02,87.43,97.16,95.33,82.01,79.68,81.14,83.11,80.01,89.43,91.81,88.69,80.32,79.84,87.75,93.38,95.97,96.26,91.15,87.19,87.33,86.75,87.07,95.53,90.85,94.91,102.01,106.24,113.91,116.97,100.51,85.85,90.52,104.86,96.52,99.74,100.28,103.26,102.60,101.58,102.81,102.61,109.11,106.38,114.71,117.23,108.38,106.47,102.50,110.64,126.09,106.03,112.27,128.55,110.19,107.62
1156,sub-region,Ústí nad Labem Region,driving,Ústecký kraj,100.0,101.57,107.63,112.87,120.32,126.19,113.47,102.87,103.33,101.39,107.19,117.03,119.72,106.29,109.65,106.24,110.90,103.51,118.62,123.55,116.79,106.40,117.06,115.08,116.12,123.01,134.71,120.23,103.00,121.75,118.44,113.88,133.53,142.10,125.42,109.49,114.84,114.88,120.12,136.42,137.11,119.52,110.27,107.01,111.98,114.12,126.05,128.36,116.96,102.04,102.93,114.73,110.47,127.53,117.35,120.26,104.56,96.37,100.85,104.83,104.93,84.78,85.61,58.77,62.94,63.96,63.05,61.30,50.31,58.35,65.06,66.81,70.70,64.43,78.31,79.97,55.89,65.76,66.29,76.14,78.69,71.10,74.57,90.11,88.85,94.29,97.36,93.62,94.83,102.64,98.73,75.16,96.20,103.96,115.06,112.33,113.68,103.49,101.84,108.48,107.01,108.22,107.30,107.54,119.49,105.89,107.77,101.99,101.86,119.88,107.27,113.52,104.54,104.41
1157,sub-region,Žilina Region,driving,Žilinský kraj,100.0,102.76,108.09,114.07,136.77,126.23,131.46,103.80,108.25,113.94,119.18,148.16,139.89,139.17,125.20,120.71,116.55,118.77,160.78,136.90,159.50,138.05,128.80,117.34,133.73,161.39,155.75,152.25,117.65,123.11,126.28,138.99,169.02,189.02,177.09,140.22,146.32,151.40,144.82,206.28,159.32,164.10,128.42,116.70,112.64,133.02,149.46,121.65,126.76,100.92,105.82,107.46,112.79,137.69,119.15,117.26,88.99,88.53,81.31,82.51,70.97,49.41,49.97,42.11,43.54,42.70,45.66,45.15,37.84,41.45,43.82,44.87,48.16,48.57,52.68,49.31,52.89,54.78,53.68,53.50,57.51,55.36,53.93,59.24,66.06,71.86,43.92,32.99,32.20,32.53,36.90,43.46,68.90,64.58,67.93,71.07,69.05,70.58,69.46,72.17,75.82,73.95,74.46,68.59,86.01,77.94,76.30,72.65,79.60,71.53,71.04,82.94,72.42,72.63

In [59]:
df_appel= df_appel.drop(columns=["geo_type", "alternative_name"])
df_appel = df_appel.melt(id_vars= ["region", "transportation_type"])
df_appel

                       region transportation_type    variable   value
0                     Albania             driving  2020-01-13  100.00
1                     Albania             walking  2020-01-13  100.00
2                   Argentina             driving  2020-01-13  100.00
3                   Argentina             walking  2020-01-13  100.00
4                   Australia             driving  2020-01-13  100.00
...                       ...                 ...         ...     ...
132007   Île-de-France Region             driving  2020-05-05   26.28
132008          Örebro County             driving  2020-05-05  111.31
132009    Östergötland County             driving  2020-05-05  107.62
132010  Ústí nad Labem Region             driving  2020-05-05  104.41
132011          Žilina Region             driving  2020-05-05   72.63

[132012 rows x 4 columns]

In [60]:
df_appel.head(4)

      region transportation_type    variable  value
0    Albania             driving  2020-01-13  100.0
1    Albania             walking  2020-01-13  100.0
2  Argentina             driving  2020-01-13  100.0
3  Argentina             walking  2020-01-13  100.0

In [61]:
df_appel_europe = df_appel[df_appel.region.isin(pays_europe)]
df_appel_europe =  df_appel_europe.rename(columns={"region": "Country"})
df_appel_europe

            Country transportation_type    variable   value
0           Albania             driving  2020-01-13  100.00
1           Albania             walking  2020-01-13  100.00
9           Belgium             driving  2020-01-13  100.00
10          Belgium             transit  2020-01-13  100.00
11          Belgium             walking  2020-01-13  100.00
...             ...                 ...         ...     ...
130985  Switzerland             walking  2020-05-05   64.94
130991       Turkey             driving  2020-05-05   56.59
130992       Turkey             walking  2020-05-05   45.86
130996      Ukraine             driving  2020-05-05   87.74
130997      Ukraine             walking  2020-05-05   63.49

[8436 rows x 4 columns]

In [62]:
dd=df_appel_europe.groupby(['Country',"variable","transportation_type" ]).sum()
ff=dd.reset_index()
appel_europe= ff.rename(columns={"variable": "date", "value": "total_mobilite"})
appel_europe['date'] =pd.to_datetime(appel_europe.date)

appel_europe = appel_europe.sort_values(by = "date")
appel_europe

      Country       date transportation_type  total_mobilite
0     Albania 2020-01-13             driving          100.00
1027  Denmark 2020-01-13             transit          100.00
5929   Russia 2020-01-13             walking          100.00
5928   Russia 2020-01-13             driving          100.00
5701  Romania 2020-01-13             walking          100.00
...       ...        ...                 ...             ...
1367  Denmark 2020-05-05             walking           90.13
1366  Denmark 2020-05-05             transit           48.86
1365  Denmark 2020-05-05             driving           98.29
2051  Finland 2020-05-05             walking           99.02
8435  Ukraine 2020-05-05             walking           63.49

[8436 rows x 4 columns]

In [63]:
appel_europe.to_csv("appel_europe.csv")

In [64]:
appel_europe.isnull().sum()

Country                0
date                   0
transportation_type    0
total_mobilite         0
dtype: int64

In [70]:
merge_appele_europe = pd.merge(list_country,appel_europe, on='Country')
merge_appele_europe.to_csv('merge_appele_europe.csv')

In [71]:
merge_appele_europe

      Country Code       date transportation_type  total_mobilite
0     Albania  ALB 2020-01-13             driving          100.00
1     Albania  ALB 2020-01-13             walking          100.00
2     Albania  ALB 2020-01-14             driving           95.30
3     Albania  ALB 2020-01-14             walking          100.68
4     Albania  ALB 2020-01-15             walking           98.93
...       ...  ...        ...                 ...             ...
7975  Ukraine  UKR 2020-05-03             walking           55.73
7976  Ukraine  UKR 2020-05-04             driving           84.83
7977  Ukraine  UKR 2020-05-04             walking           59.52
7978  Ukraine  UKR 2020-05-05             driving           87.74
7979  Ukraine  UKR 2020-05-05             walking           63.49

[7980 rows x 5 columns]