In [1]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objects as go
from dash.dependencies import Input, Output
import pandas as pd

In [5]:
baseURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/"
def loadData(fileName, columnName):
    data = pd.read_csv(baseURL + fileName) \
             .drop(['Lat', 'Long'], axis=1) \
             .melt(id_vars=['Province/State', 'Country/Region'], 
                 var_name='date', value_name=columnName) \
             .astype({'date':'datetime64[ns]', columnName:'Int64'}, 
                 errors='ignore')
    data['Province/State'].fillna('<all>', inplace=True)
    data[columnName].fillna(0, inplace=True)
    return data

In [12]:
allData = loadData("time_series_covid19_confirmed_global.csv", "Confirmed") \
  .merge(loadData(
    "time_series_covid19_deaths_global.csv", "Deaths")) \
  .merge(loadData(
    "time_series_covid19_recovered_global.csv", "Recovered"))

In [9]:
countries = allData['Country/Region'].unique()
countries.sort()

In [13]:
allData

,Province/State,Country/Region,date,Confirmed,Deaths,Recovered
0,<all>,Afghanistan,2020-01-22,0,0,0
1,<all>,Albania,2020-01-22,0,0,0
2,<all>,Algeria,2020-01-22,0,0,0
3,<all>,Andorra,2020-01-22,0,0,0
4,<all>,Angola,2020-01-22,0,0,0
...,...,...,...,...,...,...
35023,<all>,Sao Tome and Principe,2020-06-08,513,12,68
35024,<all>,Yemen,2020-06-08,496,112,23
35025,<all>,Comoros,2020-06-08,141,2,67
35026,<all>,Tajikistan,2020-06-08,4609,48,2763
35027,<all>,Lesotho,2020-06-08,4,0,2